html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

:root {
  --rows: 18;
  --cols: 32;
  --gap: 1;
  --bg: white;
  --line: black;
  --cell-bg: black;
  --cell-on: red;
  --cell: 24px;

  /* Large */
  --pattern: "2,6 2,7 2,8   3,6 3,9   4,6 4,7 4,8   5,6   6,6   2,11   3,11   4,11   5,11   6,11 6,12 6,13 6,14";
}

/* Medium (800–1000px) */
@media (max-width: 1000px) {
  :root {
    --pattern: "2,6 2,7 2,8   3,6 3,8   4,6 4,7 4,8   5,6 6,6   2,10   3,10   4,10 5,10   6,10 6,11 6,12";
  }
}

/* Small (600–800px) */
@media (max-width: 800px) {
  :root {
    --pattern: "2,6 2,7   3,6 3,7   4,6 4,7   5,6 6,6   2,9   3,9   4,9   5,9   6,9 6,10";
  }
}

/* Small (600px) */
@media (max-width: 600px) {
  :root {
    --pattern: "2,6 2,7   3,6 3,7   4,6 4,7   5,6 6,6   2,8   3,8   4,8   5,8   6,8 6,9";
  }
}

body {
  background: white;
}

.frame {
  width: 100vw;
  height: 100vh;
  background: var(--line);
  padding: calc(var(--gap) * 1px);
  box-sizing: border-box;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell));
  grid-auto-rows: var(--cell);
  gap: calc(var(--gap) * 1px);
  background: var(--line);
  width: max-content;
  height: max-content;
}

.cell {
  background: var(--bg);
  transition: none !important;
}
.cell.on {
  background: var(--cell-on);
}
